<!DOCTYPE html>
<html lang="en">
  <title>Saved Articles</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "articles.scss", media: "all" %>
</head>
<body>
  <% @articles.each do |a| %>
  </br></br>
  <%= a.title %>
  </br>
  <%= "Created: " +  a.created_at.to_s(:long) %>
  </br>
  <%= "Updated: " + a.updated_at.to_s(:long) %>
  <%= button_to "Publish Article", articles_show_path,id: a.title, params: {:id => a.id, :title => a.title, :body => a.body} %>
  <%= button_to "Delete Article", articles_delete_path, id:"delete_" + a.title, params: {:id => a.id} %>
  <%= link_to "View Article", articles_display_path(:id => a.id), id:"view_" + a.title %>
  <% end %>
</body>
