<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Articles</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "articles.scss", media: "all" %>
  </head>
  <body>
    <% @published.each do |a| %>
    </br>
    Title: <%= a.title %>
    </br>
    Created: <%= a.created_at.to_s(:long) %> 
    </br>
    <%= a.body.html_safe %>
    </br>
    <%= button_to "Remove Article", articles_remove_path, id: "remove_" + a.title, params: {:id => a.id} %>
    <% end %>
  </body>
</html>
