<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="error">
    No Blog Articles Available
  </div>
  <% if admin_signed_in? %>
    <%= button_to "Create New Article", articles_new_path %>
  <% end %>
<%= yield %>
</body>
</html>
